<p-toast />
<p-confirmdialog />
<div class="grid grid-cols-12 gap-8">
  <div class="col-span-12 xl:col-span-6">
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">Novo Caixa</div>
      <div>
        <p-button icon="pi pi-plus" (click)="abrirCaixa()" label="Abrir" [outlined]="true" [raised]="true" />
      </div>
    </div>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">Histórico de Operações</div>
      <div class="flex flex-wrap gap-2">
        <p-button
          [outlined]="true" label="Visualizar" [raised]="true"
          icon="pi pi-eye" [rounded]="true" severity="info"
        />
        <p-button
          [outlined]="true" label="Gerenciar" [raised]="true"
          icon="pi pi-crown" [rounded]="true" severity="success"
        />
      </div>
    </div>
  </div>
  <div class="col-span-12">
    <div class="card !mb-8">
      <div class="font-semibold text-xl mb-4">Caixa - Operação de hoje</div>
      <p-dataview #dv [value]="products()">
        <ng-template #list let-items>
            <div class="grid grid-cols-12 gap-4 grid-nogutter">
                <div class="col-span-12" *ngFor="let item of items; let first = first" class="col-span-12">
                    <div
                        class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
                        [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                    >
                        <div class="md:w-40 relative">
                            <img
                                class="block xl:block mx-auto rounded-border w-full"
                                src="assets/cash_register.jpg"
                                [alt]="item.name"
                            />
                            <p-tag
                                [value]="item.inventoryStatus"
                                [severity]="item.inventoryStatus === 'ABERTO' ? 'success' : item.inventoryStatus === 'LOWSTOCK' ? 'warning' : 'danger'"
                                class="absolute"
                                styleClass="dark:!bg-surface-900"
                                [style.left.px]="4"
                                [style.top.px]="4"
                            />
                        </div>
                        <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                            <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                <div>
                                    <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                                </div>
                                <div class="bg-surface-100 dark:bg-surface-700 p-1" style="border-radius: 30px">
                                    <div
                                        class="bg-surface-0 dark:bg-surface-900 flex items-center gap-2 justify-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                    >
                                        <span class="text-surface-900 dark:text-surface-0 font-medium text-sm">{{
                                            item.rating
                                        }}</span>
                                        <i class="pi pi-shopping-cart text-yellow-500"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col md:items-end gap-8">
                                <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                                    'R$ ' + item.price
                                }}</span>
                                <div class="flex flex-row-reverse md:flex-row gap-2">
                                    <p-button icon="pi pi-lock" [outlined]="true" />
                                    <p-button
                                        icon=""
                                        class="flex-auto md:flex-initial whitespace-nowrap"
                                        label="Acessar"
                                        [disabled]="item.inventoryStatus === 'OUTOFSTOCK'"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>
    </div>
  </div>

</div>
